.new-tweet{
  margin-top: 50px;
  width: 100%;
  font-weight: 600;
}


.below-text{
  display: flex;
  justify-content:space-between;
  font-family: 'Bungee', sans-serif;
}

button{
  background-color: #4056A1;
  color: #FFFFFF;

}

.counter{
  color: black;
}

.counter.negative{
  color: red;
}

#tweet-text{
  font-weight: 600;
  background: transparent;
  resize: none;
  border: 0 none;
  width: 100%;
  border-bottom: solid;
}

.error-message {
  color: #ff0000; 
  border: solid ;
  padding: 10px 10px;
  margin-top: 15px; 
  display: none; 
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .new-tweet {
    width: auto;
    float: right;
    margin-top: 200px;
    margin-left: 150px;
  }
}