article{
  width: 100%;
  border: solid ;
  padding: 0 0.5em;
}

article:hover {
  box-shadow: 5px 5px #c9d0dc;
}

header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}


/* #handle{
  color:#c9d0dc;
  font-weight: 600;
} */

/* .tweet{
  border-bottom: solid;
} */

footer{
  border-top: solid;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.5em;
  font-size: 0.5em;
}

.icons{
  color: #4056A1;
}

.fa-flag:hover{
  color: gold;
}

.fa-retweet:hover{
  color: gold;
}

.fa-heart:hover{
  color: gold;
}